.root-container {
  max-width: calc(100vw - 44px);
  width: 960px;
  margin: 40px auto;
  --accent-hue: rgb(155, 155, 155);
}

.search-input {
  padding: 4px;
  font-size: 20px;
}

input.search-input {
  border: 1px solid var(--accent-hue);
  border-radius: 8px;
  margin: 0 8px;
}

button {
  border: 1px solid var(--accent-hue);
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 20px;
  background-color: transparent;
  transition: background-color 0.2s;
}
button:hover,
.input:hover {
  border-color: black;
}

ul {
  padding-left: 20px;
}

.feedback-section {
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  input.search-input {
    margin-top: 12px;
    margin-left: 0;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 100%;
  }
  button {
    display: block;
    margin-top: 12px;
    width: 100%;
  }
  ul {
    padding-left: 12px;
  }
}
